/*	
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


.txn h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

.txn h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

 .txn h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.txn-table th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.txn-table td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.txn-table {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  display: table;
  padding: 0 0 8em 0;
}

.txn-table td, .txn-table th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.txn-table tr:nth-child(odd) {
	  background-color: #1d222b;
}

/* Background-color of the even rows */
.txn-table tr:nth-child(even) {
	  background-color: #1a1c20;
}

.txn-table th {
	  background-color: #1F2739;
}

.txn-table td:first-child { color: #FB667A; }

@media (max-width: 800px) {
.txn-table td:nth-child(4),
.txn-table th:nth-child(4) { display: none; }
}